/*  Main UI declaration */
body,
html {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font: 10px/1em "MozTT", Sans-serif;
}

/* Hidden elements */
.hidden { display: none!important; }

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../gphx/views/background.png) repeat;
 }
	.view {
		position: absolute;
		left: -2.5rem;
		right: -6.5rem;
		top: 0;
		bottom: 0;
		padding: 0 5rem 0 9rem;
		overflow: hidden;
		transform: translate(0);
		transition: all 0.3s ease;
		-moz-user-select: none;
		pointer-events: none;
		opacity: 0;
		border-left: 0.1rem solid #6b6e6f;
		box-shadow: -0.7rem 0 0.7rem rgba(0,0,0,.25);
		background: url(../gphx/views/background.png) repeat;
	}
	.view.notransition { transition: none; }
	.view.next { z-index: 5; opacity: 1; }
	.view.current,
	.view.prev { opacity: 1; }

	[data-viewport="start"] { transform: translateX(-4rem); }
	[data-viewport="end"] { transform: translateX(32rem); }

	.reload { position: absolute; left: 1rem; bottom: 1rem; z-index: 5; }

		/* genric view elements */
		.view .overlay { position: absolute; left: 0; top: 0; right:0; bottom: 0; background: rgba(255,255,255,0.2); pointer-events: none; opacity:0; }
		.view.next .overlay { opacity: 1; }
		.view.current .overlay { opacity: 0; }
		.view .position { position: absolute; left: -0.5rem; top: 30rem; font-size: 9.6rem; color: #fff; padding: 0; }
		.view figure { margin: 0 0 6rem -10rem; height: 25rem; position: relative; }
			.view .screen { border-bottom: solid 0.1rem rgba(255, 255, 255, 0.3); width: 39.5rem; }
			.view .icon { position: absolute; left: 9rem; bottom: -4.7rem; width: 6.8rem; }
			.view figcaption { font-size: 1.4rem; font-weight: 300; color: #fff; position: absolute; left: 16.5rem; bottom: -2.5rem; }

		.view header {  border-bottom: 0.1rem solid #858585; }
			.view h1, .view h2 { margin: 0; line-height: 1em; text-shadow: 0 0.2rem 0.2rem rgba(0,0,0,.8); }
			.view header h1 { font-size: 5rem; font-weight: 300; color: #fff; text-transform: uppercase; text-shadow: 0 0.2rem 0.2rem rgba(0,0,0,.8); }
			.view header h2 { font-size: 2rem; font-weight: 300; color: #ff4d00;  margin-bottom: 1rem; }
		.view p { font-size: 1.6rem; color: #fff; line-height: 1em; font-weight: 300; padding-top: 1rem; margin: 0; }


		/*00-base and 00-end view*/
		#tour-base.view { padding: 0; left: 0; right: 0; border: none; }
		.view.outside { text-align: center; padding-right: 5rem; }
			.view.outside figure { margin: 9.5rem 0 2rem; height: auto; }
				.view.outside figure img { width: 19.5rem; }
			.view.outside h1 {  font-size: 2.7rem; font-weight: 300;  color: #fff; text-transform: uppercase; margin-bottom: 0.5rem }
			.view.outside h2 { font-size: 2.5rem; font-weight: 300; color: #ff4d00; margin-bottom: 2rem; }
			.view.outside button { pointer-events: auto; }



