AddType audio/ogg oga ogg
AddType video/ogg ogv
AddType application/json .json
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
ExpiresByType text/cache-manifest "access plus 0 seconds"
